.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.slick-list {
  transition: transform 0.3s ease-in-out; 
}
.mousepad-container {
  max-width: 600px;
  height: 600px;
  max-height: 600px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.selected-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.clickable-images {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.image-slide {
  outline: none;
  width: 75%;
  max-width: 800px;
  height: 200px;
  overflow: hidden;
}

.clickable-image {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.slick-list {
  overflow: hidden;
}